@page
@model TightBudget.Pages.Budgets.IndexModel

@{
    ViewData["Title"] = "October";
    @*var currentDate = DateTime.Now;
        var dateShort = currentDate.ToShortDateString();
        var dateToSet = Convert.ToDateTime(dateShort);*@
}

<h1>Add your spending</h1>

@*<p>
        <a asp-page="Create">Create New</a>
    </p>*@
<form method="post">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col">
                <div>
                    <label class="control-label">Item</label>
                    <input class="form-control" asp-for="BudgetInput.Item" />
                </div>
            </div>

            <div class="col">
                <label class="control-label">Category</label>
                <select class="form-control" asp-for="BudgetInput.Category" asp-items="@Html.GetEnumSelectList<TightBudget.Entities.Category>()">
                    <option value="">--Select Category--</option>
                </select>
                <span asp-validation-for="BudgetInput.Category" class="text-danger"></span>
            </div>

            <div class="col">
                <label class="control-label">Price</label>
                <input class="form-control" asp-for="BudgetInput.Price" />
                <span asp-validation-for="BudgetInput.Category" class="text-danger"></span>
            </div>

            <div class="col">
                <label class="control-label">Description</label>
                <input class="form-control" asp-for="BudgetInput.Description" />
            </div>

            <div class="col">
                <label class="control-label">Date</label>
                <input class="form-control" asp-for="BudgetInput.Date" />
            </div>
        </div>
        <div class="d-flex">
            <input style="width:100%" type="submit" value="Add New Purchase" class="btn btn-primary mt-3 mb-3" />
        </div>


    </div>

</form>

<h1>October</h1>


<form method="get">
    <p>
        <input style="height:2.5em; width:30%" type="text" name="SearchString" placeholder="Search by item or description" />
        <input class="btn btn-primary mr-2" type="submit" value="Search" />
        <a asp-page="Index" style="color:red">Reset</a>
    </p>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@Html.DisplayNameFor(model => model.Budget[0].Item)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Price) (AUD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Description)
            </th>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">@Html.DisplayNameFor(model => model.Budget[0].Date)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Budget)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{ var date = item.Date;
                        var dateOnly = date.ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => dateOnly)
                </td>
                <td style="text-align:right">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table table-sm table-hover mt-5">
    @*<thead style="border-top: 0px solid #bdc3c7">*@
    <thead>
        <tr>
            <th><b>Budget:</b></th>
            <th style="text-align:right">@ViewBag.Budget AUD</th>
        </tr>
    </thead>
    <thead style="border-top: none">
        <tr>
            <th><b>Total Spend:</b></th>
            <th style="text-align:right; color: red">-@String.Format("{0:0.00}", ViewBag.TotalPrice) AUD</th>

        </tr>
    </thead>
    <thead>
        <tr>
            <th><b>Money Left:</b></th>
            <th style="text-align:right; color:green">@String.Format("{0:0.00}", ViewBag.MoneyLeft) AUD</th>
        </tr>
    </thead>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

</script>